In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('train.csv')
df

,id,subject,email,spam
0,0,Subject: A&L Daily to be auctioned in bankrupt...,URL: http://boingboing.net/#85534171\n Date: N...,0
1,1,"Subject: Wired: ""Stronger ties between ISPs an...",URL: http://scriptingnews.userland.com/backiss...,0
2,2,Subject: It's just too small ...,<HTML>\n <HEAD>\n </HEAD>\n <BODY>\n <FONT SIZ...,1
3,3,Subject: liberal defnitions\n,Depends on how much over spending vs. how much...,0
4,4,Subject: RE: [ILUG] Newbie seeks advice - Suse...,hehe sorry but if you hit caps lock twice the ...,0
...,...,...,...,...
8343,8343,Subject: Re: ALSA (almost) made easy\n,"Thanks for this, I'm going to give them anothe...",0
8344,8344,Subject: Re: Goodbye Global Warming\n,Thanks for the link - I'm fascinated by archae...,0
8345,8345,Subject: hello\n,WE NEED HELP. We are a 14 year old fortune 50...,1
8346,8346,Subject: Your application is below. Expires Ju...,<html>\n \n \n <HEAD> \n <META charset=3DUTF-8...,1
8347,8347,Subject: Re: [SAtalk] CONFIDENTIAL\n,"On Wed, 2002-08-21 at 06:42, Craig R.Hughes wr...",0

In [5]:
test_df = pd.read_csv('train.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8348 entries, 0 to 8347
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       8348 non-null   int64
 1   subject  8342 non-null   object
 2   email    8348 non-null   object
 3   spam     8348 non-null   int64
dtypes: int64(2), object(2)
memory usage: 261.0+ KB

In [9]:
df.head()

,id,subject,email,spam
0,0,Subject: A&L Daily to be auctioned in bankrupt...,URL: http://boingboing.net/#85534171\n Date: N...,0
1,1,"Subject: Wired: ""Stronger ties between ISPs an...",URL: http://scriptingnews.userland.com/backiss...,0
2,2,Subject: It's just too small ...,<HTML>\n <HEAD>\n </HEAD>\n <BODY>\n <FONT SIZ...,1
3,3,Subject: liberal defnitions\n,Depends on how much over spending vs. how much...,0
4,4,Subject: RE: [ILUG] Newbie seeks advice - Suse...,hehe sorry but if you hit caps lock twice the ...,0

In [16]:
df.isna().sum()

id         0
subject    6
email      0
spam       0
dtype: int64

In [19]:
df['text'] = df['subject'].fillna('') + df['email'].fillna('')

In [21]:
import re

In [22]:
import re

def clean_text(text):
    text = text.lower()
    text = re.sub(r'<.*?>', '', text)  # Remove HTML tags
    text = re.sub(r'[^a-z\s]', '', text)  # Remove non-alphabet characters
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df['clean_text'] = df['text'].apply(clean_text)

In [24]:
df['spam'].value_counts()

spam
0    6208
1    2140
Name: count, dtype: int64

In [25]:
df.columns

Index(['id', 'subject', 'email', 'spam', 'text', 'clean_text'], dtype='object')

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

vectorizer = TfidfVectorizer(
    max_features=5000,    
    ngram_range=(1, 2)    
)

In [29]:
from sklearn.model_selection import train_test_split

X = vectorizer.fit_transform(df['text'])
y = df['spam']

X_train, X_val, y_train, y_val = train_test_split(
    X, y,
    test_size=0.2,       
    random_state=42,
    stratify=y           
)